@model TravelPeople.Commons.Objects.Menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.header_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.header_text)
        </dd>

    </dl>

    @Html.Partial("_MenuItem", Model.items)

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
